body{
    margin: 0;
    padding: 0;
}
.container {
    width: 100%;
    height: 100vh;
    text-align: center;
    border: 5px solid darkgrey;
    border-radius: 10px;
  }
  .container > div {
        display: flex;
        justify-content: center;
        align-items: center;
        /* height: 20%; */
  }
   .red{
        background-color: red;
        min-height: 20%;
        
   }
   .white{
    min-height: 20%;
    
}
   .yellow{
        background-color: orange;
        min-height: 20%;
    }
    .green{
        background-color: greenyellow;
        min-height: 20%;
    }
    .blue{
        background-color: lightskyblue;
        min-height: 20%;
    }
  @media screen and (min-width: 481px) and (max-width: 767px) {
        .container {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: 1fr repeat(2, 3fr) 1fr;
        }
        .red{
            grid-area: 1/1/2/3;
        }
        .white{
            grid-area: 2/1/3/3;
        }
        .blue{
            grid-area: 4/1/5/3;
        }
    }
  
  @media screen and (min-width: 767px) and (max-width: 1440px) {
    .container {
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        grid-template-rows: 1fr 4fr 1fr;
    }
    .red{
        grid-area: 1/1/2/4;
    }
    .yellow{
        grid-area: 2/1/3/2;
    }
    .white{
        grid-area: 2/2/3/3;
    }
    .green{
        grid-area: 2/3/3/4;
    }
    .blue{
        grid-area: 3/1/4/4;
    }
  }