* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: lightgray;
}

.container > div {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 9px;
  padding: 10px;
  background-color: pink;
}

.container {
  display: grid;
  padding: 20px;
  height: 100%;
  grid-gap: 10px;
  grid-template-rows: 40px 1fr 40px;
  grid-template-columns: 1fr 4fr;
}

.box-1 {
  justify-content: space-between !important;
  grid-column-start: 1;
  grid-column-end: 4;
}

.box-1 > ul {
  list-style: none;
  display: flex;
}

.box-3 {
  grid-column-start: 2;
  grid-column-end: 4;
}

.box-4 {
  grid-column-start: 1;
  grid-column-end: 4;
}
